{% set logstash = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [
            'logstash',
            'openjdk-7-jre-headless'
        ],
        'forwarder_pkging_deps': [
            'ruby-dev',
            'git',
            'make',
            'gcc'
        ],
        'beaver_deps': [
            'python-pip',
            'python-docutils'
        ]
    },
    'RedHat': {
        'pkgs': [
            'logstash',
            'java-1.7.0-openjdk-headless'
        ],
        'forwarder_pkging_deps': [
            'ruby-devel',
            'git',
            'make',
            'gcc'
        ],
        'beaver_deps': [
            'python-pip'
        ]
    },
    'Arch': {
        'pkgs': [
        ]
    }
}, merge=salt['pillar.get']('logstash:lookup')) %}
